.location-type{
  @apply relative py-6 px-10 rounded-md flex items-center 
  justify-center gap-2 bg-gray-200 shadow-md hover:shadow-xl hover:bg-white
  transition-all duration-700;
}

.location-type.selected{
  @apply bg-blue-700 text-gray-200;
}

.location-type > .selected-icon{
  @apply hidden absolute top-0 right-2 transition delay-100 
  scale-0 duration-1000;
}

.location-type.selected > .selected-icon{
  @apply flex-shrink flex justify-center scale-100;
}

.location-type input{
  min-width: 80px;
  @apply bg-gray-100 appearance-none border-2 
  border-gray-200 rounded w-full py-2 px-4 
  text-gray-400 leading-tight focus:text-gray-800 
  focus:outline-none focus:bg-white 
  focus:border-blue-300;
}

.card-parameters button{
  @apply flex py-3 px-4 md:px-6 bg-blue-500 rounded-lg 
  mx-auto shadow-md text-white font-bold text-lg;
}